<div id="<%= "#{conversation.id}" %>_messages">
  <% if conversation.user? %>
    <div class="bg-sky-400 rounded-lg my-8 text-white p-4">
      <%= conversation.content %>
    </div>
  <% else %>
    <div class="bg-gray-200 rounded-lg my-8 p-4">
      <%= conversation.content %>
    </div>
  <% end %>
</div>
