<%= turbo_frame_tag "review_message_form" do %>
  <%= form_with model: Conversation.new, url: conversations_path, class: "w-full" do |f| %>
    <div class="my-5 w-full">
      <%= f.text_area :content, class: "w-full border rounded border-gray-300 focus:border-blue-500 focus:outline-none focus:ring" %>
    </div>
    <div class="grid justify-items-end">
      <%= f.submit "送信", class: "btn mb-4" %>
    </div>
  <% end %>
<% end %>