<div class="flex flex-col">
    <div class="carousel w-64 mx-auto">
        <div class="carousel-item w-full">
            <img
            src="https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.jpg"
            class="w-full"
            alt="Tailwind CSS Carousel component" />
        </div>
        <div class="carousel-item w-full">
            <img
            src="https://img.daisyui.com/images/stock/photo-1565098772267-60af42b81ef2.jpg"
            class="w-full"
            alt="Tailwind CSS Carousel component" />
        </div>
        <div class="carousel-item w-full">
            <img
            src="https://img.daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.jpg"
            class="w-full"
            alt="Tailwind CSS Carousel component" />
        </div>
        <div class="carousel-item w-full">
            <img
            src="https://img.daisyui.com/images/stock/photo-1494253109108-2e30c049369b.jpg"
            class="w-full"
            alt="Tailwind CSS Carousel component" />
        </div>
        <div class="carousel-item w-full">
            <img
            src="https://img.daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.jpg"
            class="w-full"
            alt="Tailwind CSS Carousel component" />
        </div>
        <div class="carousel-item w-full">
            <img
            src="https://img.daisyui.com/images/stock/photo-1559181567-c3190ca9959b.jpg"
            class="w-full"
            alt="Tailwind CSS Carousel component" />
        </div>
        <div class="carousel-item w-full">
            <img
            src="https://img.daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.jpg"
            class="w-full"
            alt="Tailwind CSS Carousel component" />
        </div>
    </div>

    <div class="max-w-md flex flex-col mx-auto text-center">
        <h1 class="mb-5 text-5xl font-bold">Review Refrect</h1>
        <p class="mb-5">感情を言葉にしよう</p>
        <button class="btn btn-primary">ログイン</button>
        <button class="btn btn-link">新規登録</button>
    </div>
</div>
