<div class="container mx-auto px-8 pt-8 pb-60 flex flex-col items-center w-full max-w-md min-h-screen justify-center">
    <div class="flex flex-col">
        <div class="max-w-md flex flex-col mx-auto text-center">
            <h1 class="mb-5 text-5xl font-bold">Review Refrect</h1>
            <p class="mb-5">Review Refrect は、書籍や映画などの感想をAIと一緒に考え、深めるためのサービスです。</p>
            <%= link_to 'ログイン', login_path, class: "btn bg-customBlue hover:bg-blue-400 text-white" %>
            <%= link_to '新規登録', new_user_path, class: "btn btn-link text-customBlue" %>
        </div>
    </div>
</div>
<style>
    header {
        display: none;
    }
</style>