<header>
  <div class="flex items-center justify-between h-12 px-4 bg-base-200">
    <%= link_to :back, class: "flex-shrink-0" do %>
      <svg 
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor">
        <path
          strokeLinecap="round"
          strokeLinejoin="round"
          d="M15.75 19.5 8.25 12l7.5-7.5" />
      </svg>
    <% end %>
    <div class="flex-grow text-center text-xl font-medium">
      <%= page_title(yield(:title)) %>
    </div>
    <div class="flex-shrink-0 w-8 h-8"></div>
  </div>
</header>
