<header>
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <svg 
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor">
        <path
          strokeLinecap="round"
          strokeLinejoin="round"
          d="M15.75 19.5 8.25 12l7.5-7.5" />
      </svg>
    </div>
    <div class="navbar-center">
      <a class="btn btn-ghost text-xl mx-auto">ログイン前</a>
    </div>
  </div>
</header>
